@model domain.evaluation360

@{
    ViewBag.Title = "Modification de l'évaluation";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Modification de l'évaluation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.datedebut ,"Date debut", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datedebut, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datedebut, "", new { @class = "text-danger" })
            </div>
        </div>

       
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider modification" class="btn btn-default" />
            </div>
        </div>
        <br />
}
<br />
<div>
    <h5>@Html.ActionLink("Retour vers la liste des évaluations360", "Index")</h5>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
