@model domain.commentaire

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ajouter votre propre commentaire</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.comment,"Votre commentaire", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.commentaireEvzl360_id, "commentaireEvzl360_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("commentaireEvzl360_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.commentaireEvzl360_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.employecommentaire_id, "employecommentaire_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("employecommentaire_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.employecommentaire_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter commentaire" class="btn btn-default" />
            </div>
        </div>
        @*@Html.ActionLink("Create", "Create",new { idemploye = @ViewBag.idemploye })*@


    </div>
}

<div>
    @Html.ActionLink("Retour ", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
