@model IEnumerable<domain.evaluation360>

@{
    ViewBag.Title = "établir vos commentaire sur vos cammarades ";
}

<h2>Affichage des évaluation 360</h2>

<h5>@Html.ActionLink("Consulter Mes commentaires", "IndexByEmp", new { idemploye = @ViewBag.idemploye })</h5>
<h5>@Html.ActionLink("Retour vers page d'acceuil", "eval360")</h5>

<div class="dataTables_filter" id="dataTable_filter">
    <label>
        Rechercher:
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Chercher évaluation .." title="Type in a name of Claim">


    </label>
   

</div>

<table class="table" id="dataTable" >
    <tr>
        <th>
            Employé concérné de l'évaluation        </th>
        <th>
            @Html.DisplayNameFor(model => model.datedebut)
        </th>
        <th>nb
</th>
    </tr>


@foreach (var item in Model)
{
    
    <tr>
 @{var warining = web.Controllers.CommentaireController.compternbeval(item.employe.id); }
@*@{var empconnecte = web.Controllers.EmployeeController.employeId(item.employe); }*@


        <td>
            @Html.DisplayFor(modelItem => item.employe.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datedebut)
        </td>
        <td>
            @warining
    </td>
        <td>
            @Html.ActionLink("Détail de l'employé", "Details", new { id= item.employe.id }) |
            @Html.ActionLink("Ajouter votre propre avis ", "Create", new { id = item.id, idemp=@ViewBag.idemploye })
            @*@Html.ActionLink("consulter nombre de commentaire ", "compternbeval", new { idemploye = item.employe.id })*@










        </td>
    </tr>
   
}

</table>
<script>


                //fonction recherche par nom ajax
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("dataTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        td = tr[i].getElementsByTagName("td")[1];

                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }


</script>
