@model IEnumerable<data.conge>

@{
    ViewBag.Title = "listCongeParEmploye";
}

<h2>listCongeParEmploye</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employe.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_deb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paye)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_demande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employe.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_deb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paye)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_demande)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etat)
        </td>
        <td>
             @Html.ActionLink("Details", "Details", new { id=item.id }) |
            
        </td>
    </tr>
}

</table>
