@model domain.entities.employe

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdvyteam.cshtml";
}


<div class="content-wrapper">
    <h3>
      Lliste des employes
    </h3>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div id="datatable1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row"><dv  class="col-sm-6"><div  class="col-sm-6"><div id="datatable1_filter" class="dataTables_filter"><label>Search all columns:<input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable1"></label></div></div>@Html.ActionLink("Ajouter Un Employe", "Create")
</div><div class="row">
                        
                    <div class="col-sm-12">
                            <table id="datatable1" class="table table-striped table-hover dataTable no-footer" role="grid" aria-describedby="datatable1_info">
                                <thead>
                                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 170px;">@Html.DisplayNameFor(model => model.nom)
</th><th class="sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 215px;">@Html.DisplayNameFor(model => model.prenom)
</th><th class="sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 198px;">@Html.DisplayNameFor(model => model.image)
</th><th class="sort-numeric sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 146px;">@Html.DisplayNameFor(model => model.email)
</th><th class="sort-alpha sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 108px;">@Html.DisplayNameFor(model => model.numtel)
</th></tr>
                                </thead>
                                <tbody>






















































                                    @foreach( var p in ViewBag.result)

                                    { 
                                       <tr class="gradeA odd" role="row">
                                        <td>@p.nom</td>
                                        <td>@p.prenom</td>
                                        <td><img src="~/contentadvy/img/ikbel.jpg" height="50" width="50" class="rounded float-left" alt="..."> </td>
                                        <td>@p.email</td>
                                        <td>@p.numtel</td>
                                           <td>
                                         @Html.ActionLink("Details", "Details", new { id = @p.id }) | @Html.ActionLink("Delete", "Delete", new { id = @p.id })


                                           </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



<script src="~/contentadvy/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/contentadvy/vendor/datatables-colvis/js/dataTables.colVis.js"></script>
<script src="~/contentadvy/vendor/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/contentadvy/js/demo/demo-datatable.js"></script>
<script src="~/contentadvy/js/app.js"></script>